# Dependencias descargadas por pnpm / npm
node_modules/

# Archivos de variables de entorno con datos sensibles
.env
.env.local
.env.development


# Registros de errores y logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db

